.gallery-section {
    width: 100%;
    padding: 60px 32px;
    background: var(--secondary-bg);
}

.gallery-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: var(--text-color);
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

@media (max-width: 468px) {
    .gallery-section {
    padding: 60px 16px;  
}
}
